name: Build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  KIND_CMD: kind # kind is pre-installed in GitHub runners

jobs:
  crossplane:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run provision
        run: make provision

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run docs-html
        run: make docs-html
